.bg{
    background-image: url('../assets/header_bg.jpg'); /* Add your background image */
    height: 150px;
}

.bg h2 {
    padding-top: 20px;
    font-size: 2em;
    margin: 0;
    width: 65%;
  }
  
.bg p {
    font-size: 1em;
    color: #ffffff;
}

.contact-us {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .contact-details, .feedback-form {
    margin-bottom: 40px;
  }
  
  .contact-details h2, .feedback-form h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .contact-details p {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .contact-details a {
    color: #0066cc;
    text-decoration: none;
  }
  
  .contact-details a:hover {
    text-decoration: underline;
  }
  
  .feedback-form form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .form-group input, .form-group textarea {
    font-size: 1em;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
  }
  
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .contact-details h2, .feedback-form h2 {
      font-size: 1.5em;
    }
  
    .contact-details p {
      font-size: 1em;
    }
  
    .form-group label {
      font-size: 1em;
    }
  
    button[type="submit"] {
      font-size: 1em;
    }
  }
  
  @media (max-width: 480px) {
    .contact-us {
      padding: 10px;
    }
  
    .contact-details h2, .feedback-form h2 {
      font-size: 1.2em;
    }
  
    .contact-details p {
      font-size: 0.9em;
    }
  
    .form-group label {
      font-size: 0.9em;
    }
  
    .form-group input, .form-group textarea {
      padding: 8px;
    }
  
    button[type="submit"] {
      font-size: 0.9em;
      padding: 8px 16px;
    }
  }
  