/* Header Styles */
.header {
  background-image: url('../assets/header_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px;
  margin-right: 10px; /* Space between logo and company name */
}

/* Navbar links */
.navbar-links {
  list-style: none;
  display: flex;
  text-decoration: none;
  font-size: 1em;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  padding: 8px 12px;
  font-weight: bold;
}

.navbar-links a:hover {
  color: #a5a5a5;
}

/* Toggle button for mobile */
.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.3s;
}

.close-drawer-btn {
  display: none;
}

/* Headline Section */
.headline {
  background-size: cover;
  height: 300px;
  text-align: start;
  color: #fff;
  padding: 20px;
}

.headline h2 {
  padding-top: 130px;
  font-size: 2em;
  margin: 0;
  width: 65%;
}

.headline p {
  font-size: 1em;
  color: #ffffff;
}

.read-report {
  background-color:#ff693b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
}

.read-report:hover {
  cursor: pointer;
}

/* Responsive Styles */
@media(max-width: 1024px){
  .header-content {
    flex-direction: row;
    text-align: center;
  }

  .navbar-links {
    flex-direction: row;
    align-items: center;
    font-size: 0.9em;
  }

  .headline h2 {
    font-size: 1.8em;
    padding-top: 100px;
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .header-content {
    flex-direction: row;
  }
  .navbar-links {
    display: none;
  }

  .navbar-toggle {
    display: flex;
  }

  .headline {
    height: 250px;
    padding: 15px;
  }

  .headline h2 {
    font-size: 1.5em;
    padding-top: 80px;
    width: 80%;
  }

  .headline p {
    font-size: 0.9em;
  }

  .read-report {
    padding: 8px 18px;
    font-size: 0.9em;
  }

  /* Show links in drawer for mobile */
  .navbar-links {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    height: 100%;
    width: 55%;
    background-color: #ff693b;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    /* gap: 30px; */
    transform: translateX(120%);
    transition: transform 0.3s ease-in-out;
    padding-top: 50px;
  }

  .navbar-links.open {
    transform: translateX(0);
  }

  .navbar-toggle {
    display: flex;
  }

  .close-drawer-btn {
    display: flex;
    position: absolute;
    top: 15px;
    left: 15px;
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }

  .close-drawer-btn:hover {
    color: #ff4c4c;
  }

  /* Style mobile drawer links */
  .navbar-links a {
    padding: 30px 0;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
  }

  /* Responsive headline styles */
  .headline {
    height: 300px;
    padding: 10px;
    text-align: start;
  }

  .headline h2 {
    padding-top: 120px;
    font-size: 1.5em;
    width: 80%;
  }

  .headline p {
    font-size: 0.9em;
  }

  .read-report {
    font-size: 0.9em;
  }
}

/* For very small devices or portrait mode */
@media (max-width: 480px) {
  .logo-image {
    height: 30px;
  }

  .headline {
    height: 200px;
  }

  .headline h2 {
    font-size: 1.2em;
    padding-top: 60px;
  }

  .headline p {
    font-size: 0.8em;
  }

  .read-report {
    padding: 6px 16px;
    font-size: 1em;
  }
}
