.header {
  background-image: url('../assets/header_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px;  /* Adjust the height as needed */
  margin-right: 10px;  /* Space between logo and company name */
}

/* Links container */
.navbar-links {
  list-style: none;
    display: flex;
    text-decoration: none;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.7em;
}

.navbar-links a:hover {
  color: #555;
  background-color: none;
}

/* Toggle button for mobile */
.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.3s;
}

.close-drawer-btn {
  display: none;
}


.headline {
  background-color: none;  /* Fallback background color */
  background-size: cover;
  height: 300px;
  text-align: start;
  color: #fff;
  padding: 20px;
}

.headline h2 {
  padding-top: 130px;
  font-size: 2em;
  margin: 0;
  width: 65%;
}

.headline p {
  font-size: 1em;
  color: #ffffff;
}

.read-report {
  background-color: #e00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
}

.read-report:hover {
  cursor: pointer;
}


/* Responsive Styles */
@media (max-width: 780px) {
  /* .header-content {
    flex-direction: column;
    text-align: center;
  } */

  .logo {
    padding-bottom: 10px;
  }

    /* Hide links and show toggle button */
    .navbar-links {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 55%;
      background-color: #ed8d17f3;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
      gap: 30px;
      transform: translateX(120%);
      transition: transform 0.3s ease-in-out;
      padding-top: 50px;      /* Add space for the close button */
    }
  
    /* Show links when the drawer is open */
    .navbar-links.open {
      transform: translateX(0);
    }
  
    /* Show the toggle button */
    .navbar-toggle {
      display: flex;
    }
  }
  
  /* Close button styles */
  .close-drawer-btn {
    display: flex;
    position: absolute;
    top: 15px;
    left: 15px;
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
  
  .close-drawer-btn:hover {
    color: #ff4c4c;
  }
  
  
  /* Additional styles for mobile drawer */
  .navbar-links a {
    padding: 0 30px;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
  }

  .headline {
    height: 300px;
    padding: 10px;
    text-align: start;
  }

  .headline h2 {
    padding-top: 120px;
    font-size: 1.5em;
    width: 80%;
  }

  .headline p {
    font-size: 0.9em;
  }

  .read-report {
    font-size: 0.9em;
  }